# -------------------------
# PostgreSQL
# -------------------------
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password

# -------------------------
# Database connection (Backend)
# -------------------------
DB_HOST=db
DB_PORT=5432
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password


PORT=3500
CLIENT_ORIGIN=https://nhie.guita.dev

VITE_API_BASE_URL=/api
VITE_SOCKET_URL=https://nhie.guita.dev



